body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }

.container {
    width: 80%;
    margin: 0 auto;
  }

.nav{
    text-align: right;
    padding: 10px 30px;
    background-color: rgb(222, 189, 147);
}
.search-container {
    text-align: center;
    margin-top: 20px;
  }
.search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
  }
.results-container {
    margin-top: 20px;
    text-align: left;
  }
.result-item {
    margin-bottom: 20px;
  }
.title {
    font-size: 18px;
    font-weight: bold;
  }
.author {
    font-size: 14px;
    font-style: italic;
  }
.abstract {
    font-size: 16px;
    margin-top: 10px;
  }
