body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('../img/image.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100vh;
}
/* img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
} */
/* .container{
display: grid;
grid-template-columns: 1fr;
position: relative;
row-gap: 9px;
} */
/* .logo{
text-align: center;
margin-top: 20px;
font-size: 36px;
font-weight: bold;

/* height: 10%; */
/* background-image: url('logo.jpg');
background-size: cover;
background-repeat: no-repeat;
} */ 
.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  row-gap: 9px;
}

.container-res{
  display:grid;
  grid-template-columns: 0.1fr 1fr 0.2fr;
  position: relative;
  width: 90%;
  margin: 0 auto;
  row-gap: 9px;
}
body table{
  width:90%; 
  line-height:60px;
  table-layout: fixed;
}
td a{
  text-decoration: none;
}
td+td {
  width: auto;
}
select{
  padding: 0.5em;
  font-size: 1em;
  margin-right: 0.5em;
}
.nav{
  text-align: right;
  list-style-type: none;
  /* margin: 0px; */
  padding: 0px;
  padding: 10px 30px;
  overflow: hidden;
  margin-bottom: 30px;
  /* background-color: rgb(222, 189, 147); */
}
.nav a{
text-decoration: none;
width:fit-content;
padding: 14px 16px;
margin-left: 10px;
color: white;
/* display: block; */
border-radius: 25px;
float: right;
background-color: rgb(24, 83, 99);
}

.nav a:hover{
background-color: #052734;
}
.search-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}
input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 25px;
}

input[type="submit"]:hover{
background-color: #105212;
}
.results-container {
  margin-top: 20px;
  text-align: left;
}
.result-item {
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.author {
  font-size: 14px;
  font-style: italic;
}
.abstract {
  font-size: 16px;
  margin-top: 10px;
}




.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info h2 {
  margin-bottom: 10px;
}

.author-info p {
  margin-bottom: 20px;
}

.articles table{
  table-layout: auto;
}

.buttons{
  margin-top: 20px;
  padding: 2%;
}

h3{
  text-align:center;
}
.buttons a{
  text-decoration: none;
  width:fit-content;
  padding: 14px 16px;
  margin-left: 10px;
  color: white;
  border-radius: 25px;
  float: right;
  background-color: green;
}

.operations{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.operations a{
  text-decoration: none;
  width:fit-content;
  padding: 14px 16px;
  color: white;
  border-radius: 25px;
  float: right;
  background-color: green;
}
/* .reg{
  display: flex;
} */
@media screen and (max-width: 850px) {
  .container{
    font-size: 10px;
  }

  .container-res{
    display:grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .operations{
    display: grid;
    align-items: center;
    padding-left: 40%;
  }
}
